n8n-workflows/14-inbox-landlord-replied.json
{
  "name": "NFsTay – Inbox: Landlord → Operator WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inbox-landlord-replied",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "land-reply-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "// Extract fields from the NFsTay inbox webhook payload (landlord → operator direction)\nconst b = $input.first().json?.body || $input.first().json || {};\n\nconst recipientPhone = (b.recipient_phone || '').replace(/[\\s\\-()]/g, '');\nconst recipientName  = b.recipient_name  || 'there';\n// property_label is used as {{1}} in nfstay_landlord_replied template\nconst propertyLabel  = b.property_label  || b.property_city || b.property_title || 'your property';\nconst threadId       = b.thread_id       || '';\nconst senderName     = b.sender_name     || 'your landlord';\n\nif (!recipientPhone) {\n  throw new Error('recipient_phone missing from payload — cannot send WhatsApp');\n}\n\nreturn [{ json: { recipientPhone, recipientName, propertyLabel, threadId, senderName } }];"
      },
      "id": "land-reply-extract",
      "name": "Extract Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/contacts/search?query={{ $json.recipientPhone }}&locationId=eFBsWXY3BmWDGIRez13x",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Version", "value": "2021-07-28" }
          ]
        },
        "options": {
          "timeout": 8000
        }
      },
      "id": "land-reply-search-contact",
      "name": "Search GHL Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [440, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CONFIGURE_IN_N8N",
          "name": "GHL API Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pick the first matching GHL contact\nconst contacts = $input.first().json?.contacts || [];\nconst prev = $('Extract Fields').first().json;\n\nif (!contacts.length) {\n  return [{ json: { ...prev, contactId: null, skipSend: true, reason: 'no_ghl_contact' } }];\n}\n\nreturn [{ json: { ...prev, contactId: contacts[0].id, skipSend: false } }];"
      },
      "id": "land-reply-pick-contact",
      "name": "Pick Contact",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Version", "value": "2021-07-28" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"WhatsApp\",\n  \"contactId\": \"{{ $json.contactId }}\",\n  \"message\": \"{{ $json.senderName }} has replied to your inquiry about {{ $json.propertyLabel }}.\",\n  \"templateId\": \"nfstay_landlord_replied\",\n  \"templateParams\": [\"{{ $json.propertyLabel }}\"]\n}",
        "options": {
          "timeout": 8000
        }
      },
      "id": "land-reply-send-whatsapp",
      "name": "Send WhatsApp (nfstay_landlord_replied)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [880, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CONFIGURE_IN_N8N",
          "name": "GHL API Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "whatsapp_notifications",
        "columns": "thread_id, recipient_phone, direction, status, sent_at",
        "additionalFields": {}
      },
      "id": "land-reply-log",
      "name": "Log to whatsapp_notifications",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1100, 0],
      "credentials": {
        "supabaseApi": {
          "id": "CONFIGURE_IN_N8N",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ { \"ok\": true } }",
        "options": { "responseCode": 200 }
      },
      "id": "land-reply-respond",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1320, 0]
    }
  ],
  "connections": {
    "Webhook":                    { "main": [[{ "node": "Extract Fields",       "type": "main", "index": 0 }]] },
    "Extract Fields":             { "main": [[{ "node": "Search GHL Contact",   "type": "main", "index": 0 }]] },
    "Search GHL Contact":         { "main": [[{ "node": "Pick Contact",         "type": "main", "index": 0 }]] },
    "Pick Contact":               { "main": [[{ "node": "Send WhatsApp (nfstay_landlord_replied)", "type": "main", "index": 0 }]] },
    "Send WhatsApp (nfstay_landlord_replied)": { "main": [[{ "node": "Log to whatsapp_notifications", "type": "main", "index": 0 }]] },
    "Log to whatsapp_notifications": { "main": [[{ "node": "Respond 200",      "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-16T00:00:00.000Z",
  "versionId": "1"
}
