n8n-workflows/nfs-hospitable-init-sync.json
{
  "name": "nfs-hospitable-init-sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nfs-hospitable-init-sync",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "nfs-init-sync-trigger",
      "name": "Init Sync Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract connection info from Edge Function trigger\nconst body = $input.first().json.body || $input.first().json;\nconst operatorId = body.operator_id;\nconst connectionId = body.connection_id;\nconst hospitableCustomerId = body.hospitable_customer_id;\nconst hospitableConnectionId = body.hospitable_connection_id;\n\nif (!operatorId || !hospitableCustomerId) {\n  throw new Error('Missing operator_id or hospitable_customer_id');\n}\n\nreturn [{\n  json: {\n    operatorId,\n    connectionId,\n    hospitableCustomerId,\n    hospitableConnectionId,\n    page: 1,\n    perPage: 50\n  }\n}];"
      },
      "id": "nfs-parse-init-payload",
      "name": "Parse Trigger Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/nfs_hospitable_connections?id=eq.{{ $json.connectionId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "sync_status", "value": "syncing" },
            { "name": "last_sync_error", "value": "" }
          ]
        }
      },
      "id": "nfs-mark-syncing",
      "name": "Mark Connection Syncing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [690, 300]
    },
    {
      "parameters": {
        "url": "=https://connect.hospitable.com/api/v1/customers/{{ $('Parse Trigger Payload').first().json.hospitableCustomerId }}/listings?page={{ $('Parse Trigger Payload').first().json.page }}&per_page={{ $('Parse Trigger Payload').first().json.perPage }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.NFS_HOSPITABLE_BEARER_TOKEN }}" },
            { "name": "Accept", "value": "application/json" },
            { "name": "Connect-Version", "value": "2024-01-01" }
          ]
        }
      },
      "id": "nfs-fetch-listings",
      "name": "Fetch Listings from Hospitable",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [910, 300]
    },
    {
      "parameters": {
        "jsCode": "// Transform Hospitable listings to nfs_properties format\nconst response = $input.first().json;\nconst listings = response.data || response.listings || [];\nconst meta = response.meta || {};\nconst operatorId = $('Parse Trigger Payload').first().json.operatorId;\nconst hospitableCustomerId = $('Parse Trigger Payload').first().json.hospitableCustomerId;\nconst hospitableConnectionId = $('Parse Trigger Payload').first().json.hospitableConnectionId;\n\nconst properties = listings.map(listing => {\n  const cleaningFeeEntry = Array.isArray(listing.fees) ? listing.fees.find(f => f.type === 'CLEANING') : null;\n  return {\n    operator_id: operatorId,\n    source: 'airbnb',\n    status: 'completed',\n    listing_status: 'listed',\n    hospitable_property_id: listing.id || listing.listing_id,\n    hospitable_connected: true,\n    hospitable_last_sync_at: new Date().toISOString(),\n    hospitable_sync_status: 'completed',\n    hospitable_connection_id: hospitableConnectionId,\n    hospitable_customer_id: hospitableCustomerId,\n    hospitable_platform_mappings: listing.platform_mappings || listing.channels || [],\n    public_title: listing.public_name || listing.name || listing.title || '',\n    internal_title: listing.private_name || listing.public_name || '',\n    description: listing.description || listing.summary || '',\n    property_type: listing.property_type || 'apartment',\n    address: listing.address?.street || '',\n    city: listing.address?.city || '',\n    state: listing.address?.state || '',\n    country: listing.address?.country_code || 'GB',\n    postal_code: listing.address?.zipcode || '',\n    lat: listing.address?.latitude || listing.latitude || null,\n    lng: listing.address?.longitude || listing.longitude || null,\n    max_guests: listing.capacity?.max || 4,\n    room_counts: listing.rooms || [],\n    images: listing.picture ? [{ url: listing.picture.replace(/\\\\?aki_policy=[^&]+/, ''), caption: '', order: 0, is_cover: true }] : [],\n    amenities: listing.amenities || [],\n    check_in_time: listing.check_in || '15:00',\n    check_out_time: listing.check_out || '11:00',\n    rules: listing.house_rules || '',\n    base_rate_amount: listing.base_price || listing.price?.base || 100,\n    base_rate_currency: listing.currency || 'GBP',\n    minimum_stay: listing.minimum_nights || 1,\n    cleaning_fee: cleaningFeeEntry ? { enabled: true, amount: cleaningFeeEntry.amount } : { enabled: false }\n  };\n});\n\nreturn [{\n  json: {\n    properties,\n    hasMore: meta.current_page < meta.last_page,\n    nextPage: (meta.current_page || 1) + 1,\n    totalListings: meta.total || listings.length\n  }\n}];"
      },
      "id": "nfs-transform-listings",
      "name": "Transform Listings to Properties",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "jsCode": "// Upsert each property via Supabase REST API\nconst properties = $input.first().json.properties;\nconst supabaseUrl = $env.SUPABASE_URL;\nconst serviceKey = $env.SUPABASE_SERVICE_ROLE_KEY;\nconst results = [];\n\nfor (const prop of properties) {\n  try {\n    const existing = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `${supabaseUrl}/rest/v1/nfs_properties?hospitable_property_id=eq.${prop.hospitable_property_id}`,\n      headers: {\n        'apikey': serviceKey,\n        'Authorization': `Bearer ${serviceKey}`,\n        'Accept': 'application/json'\n      }\n    });\n\n    if (existing && existing.length > 0) {\n      // Update existing\n      await this.helpers.httpRequest({\n        method: 'PATCH',\n        url: `${supabaseUrl}/rest/v1/nfs_properties?id=eq.${existing[0].id}`,\n        headers: {\n          'apikey': serviceKey,\n          'Authorization': `Bearer ${serviceKey}`,\n          'Content-Type': 'application/json',\n          'Prefer': 'return=minimal'\n        },\n        body: prop\n      });\n      results.push({ id: existing[0].id, action: 'updated' });\n    } else {\n      // Insert new\n      const inserted = await this.helpers.httpRequest({\n        method: 'POST',\n        url: `${supabaseUrl}/rest/v1/nfs_properties`,\n        headers: {\n          'apikey': serviceKey,\n          'Authorization': `Bearer ${serviceKey}`,\n          'Content-Type': 'application/json',\n          'Prefer': 'return=representation'\n        },\n        body: prop\n      });\n      results.push({ id: inserted[0]?.id, action: 'inserted' });\n    }\n  } catch (err) {\n    results.push({ hospitable_id: prop.hospitable_property_id, action: 'error', error: err.message });\n  }\n}\n\nreturn [{ json: { results, count: results.length, hasMore: $input.first().json.hasMore, nextPage: $input.first().json.nextPage } }];"
      },
      "id": "nfs-upsert-properties",
      "name": "Upsert Properties to Supabase",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "url": "=https://connect.hospitable.com/api/v1/customers/{{ $('Parse Trigger Payload').first().json.hospitableCustomerId }}/reservations?page=1&per_page=50",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.NFS_HOSPITABLE_BEARER_TOKEN }}" },
            { "name": "Accept", "value": "application/json" },
            { "name": "Connect-Version", "value": "2024-01-01" }
          ]
        }
      },
      "id": "nfs-fetch-reservations",
      "name": "Fetch Reservations from Hospitable",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1570, 300]
    },
    {
      "parameters": {
        "jsCode": "// Transform Hospitable reservations to nfs_reservations format\nconst response = $input.first().json;\nconst reservations = response.data || response.reservations || [];\nconst operatorId = $('Parse Trigger Payload').first().json.operatorId;\nconst hospitableConnectionId = $('Parse Trigger Payload').first().json.hospitableConnectionId;\n\nconst mapped = reservations.map(res => ({\n  operator_id: operatorId,\n  booking_source: 'main_platform',\n  hospitable_reservation_id: res.id || res.reservation_id,\n  hospitable_platform: res.platform || res.channel || 'airbnb',\n  hospitable_platform_id: res.platform_id || res.external_id || '',\n  hospitable_connection_id: hospitableConnectionId,\n  hospitable_status: res.status || 'confirmed',\n  hospitable_financials: res.financials || res.pricing || {},\n  hospitable_last_sync_at: new Date().toISOString(),\n  check_in: res.check_in || res.start_date,\n  check_out: res.check_out || res.end_date,\n  check_in_time: res.check_in_time || '15:00',\n  check_out_time: res.check_out_time || '11:00',\n  guest_first_name: res.guest?.first_name || res.guest_name?.split(' ')[0] || '',\n  guest_last_name: res.guest?.last_name || res.guest_name?.split(' ').slice(1).join(' ') || '',\n  guest_email: res.guest?.email || '',\n  guest_phone: res.guest?.phone || '',\n  adults: res.guests?.adults || res.number_of_guests || 1,\n  children: res.guests?.children || 0,\n  total_amount: res.total_price || res.financials?.total || 0,\n  payment_status: res.payment_status || 'paid',\n  status: res.status === 'cancelled' ? 'cancelled' : 'confirmed'\n}));\n\nreturn [{ json: { reservations: mapped, count: mapped.length } }];"
      },
      "id": "nfs-transform-reservations",
      "name": "Transform Reservations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1790, 300]
    },
    {
      "parameters": {
        "jsCode": "// Upsert each reservation via Supabase REST API\nconst reservations = $input.first().json.reservations;\nconst supabaseUrl = $env.SUPABASE_URL;\nconst serviceKey = $env.SUPABASE_SERVICE_ROLE_KEY;\nconst results = [];\n\n// We need to look up property_id from hospitable_property_id for each reservation\nfor (const res of reservations) {\n  try {\n    // Check if reservation already exists\n    const existing = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `${supabaseUrl}/rest/v1/nfs_reservations?hospitable_reservation_id=eq.${res.hospitable_reservation_id}`,\n      headers: {\n        'apikey': serviceKey,\n        'Authorization': `Bearer ${serviceKey}`,\n        'Accept': 'application/json'\n      }\n    });\n\n    if (existing && existing.length > 0) {\n      await this.helpers.httpRequest({\n        method: 'PATCH',\n        url: `${supabaseUrl}/rest/v1/nfs_reservations?id=eq.${existing[0].id}`,\n        headers: {\n          'apikey': serviceKey,\n          'Authorization': `Bearer ${serviceKey}`,\n          'Content-Type': 'application/json',\n          'Prefer': 'return=minimal'\n        },\n        body: res\n      });\n      results.push({ id: existing[0].id, action: 'updated' });\n    } else {\n      const inserted = await this.helpers.httpRequest({\n        method: 'POST',\n        url: `${supabaseUrl}/rest/v1/nfs_reservations`,\n        headers: {\n          'apikey': serviceKey,\n          'Authorization': `Bearer ${serviceKey}`,\n          'Content-Type': 'application/json',\n          'Prefer': 'return=representation'\n        },\n        body: res\n      });\n      results.push({ id: inserted[0]?.id, action: 'inserted' });\n    }\n  } catch (err) {\n    results.push({ hospitable_id: res.hospitable_reservation_id, action: 'error', error: err.message });\n  }\n}\n\nreturn [{ json: { results, count: results.length } }];"
      },
      "id": "nfs-upsert-reservations",
      "name": "Upsert Reservations to Supabase",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2010, 300]
    },
    {
      "parameters": {
        "jsCode": "// Update connection with sync results\nconst propertyResults = $('Upsert Properties to Supabase').first().json;\nconst reservationResults = $input.first().json;\nconst connectionId = $('Parse Trigger Payload').first().json.connectionId;\n\nreturn [{\n  json: {\n    connectionId,\n    sync_status: 'completed',\n    total_properties: propertyResults.count || 0,\n    total_reservations: reservationResults.count || 0,\n    last_sync_at: new Date().toISOString(),\n    last_sync_results: {\n      properties: propertyResults.results || [],\n      reservations: reservationResults.results || [],\n      completed_at: new Date().toISOString()\n    }\n  }\n}];"
      },
      "id": "nfs-build-sync-results",
      "name": "Build Sync Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2230, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/nfs_hospitable_connections?id=eq.{{ $json.connectionId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sync_status\": \"{{ $json.sync_status }}\",\n  \"total_properties\": {{ $json.total_properties }},\n  \"total_reservations\": {{ $json.total_reservations }},\n  \"last_sync_at\": \"{{ $json.last_sync_at }}\",\n  \"last_sync_results\": {{ JSON.stringify($json.last_sync_results) }},\n  \"health_status\": \"healthy\",\n  \"last_sync_error\": null\n}"
      },
      "id": "nfs-update-connection-complete",
      "name": "Update Connection Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2450, 300]
    }
  ],
  "connections": {
    "Init Sync Webhook": { "main": [[{ "node": "Parse Trigger Payload", "type": "main", "index": 0 }]] },
    "Parse Trigger Payload": { "main": [[{ "node": "Mark Connection Syncing", "type": "main", "index": 0 }]] },
    "Mark Connection Syncing": { "main": [[{ "node": "Fetch Listings from Hospitable", "type": "main", "index": 0 }]] },
    "Fetch Listings from Hospitable": { "main": [[{ "node": "Transform Listings to Properties", "type": "main", "index": 0 }]] },
    "Transform Listings to Properties": { "main": [[{ "node": "Upsert Properties to Supabase", "type": "main", "index": 0 }]] },
    "Upsert Properties to Supabase": { "main": [[{ "node": "Fetch Reservations from Hospitable", "type": "main", "index": 0 }]] },
    "Fetch Reservations from Hospitable": { "main": [[{ "node": "Transform Reservations", "type": "main", "index": 0 }]] },
    "Transform Reservations": { "main": [[{ "node": "Upsert Reservations to Supabase", "type": "main", "index": 0 }]] },
    "Upsert Reservations to Supabase": { "main": [[{ "node": "Build Sync Results", "type": "main", "index": 0 }]] },
    "Build Sync Results": { "main": [[{ "node": "Update Connection Complete", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "nfstay" }],
  "active": false
}
