n8n-workflows/nfs-hospitable-manual-sync.json
{
  "name": "nfs-hospitable-manual-sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nfs-hospitable-manual-sync",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "nfs-manual-sync-trigger",
      "name": "Manual Sync Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "nfs-hospitable-manual-sync"
    },
    {
      "parameters": {
        "jsCode": "// Parse manual sync request (same payload as init-sync)\nconst body = $input.first().json.body || $input.first().json;\nconst operatorId = body.operator_id;\nconst connectionId = body.connection_id;\nconst hospitableCustomerId = body.hospitable_customer_id;\nconst hospitableConnectionId = body.hospitable_connection_id;\n\nif (!operatorId || !hospitableCustomerId) {\n  throw new Error('Missing operator_id or hospitable_customer_id');\n}\n\nreturn [{\n  json: {\n    operatorId,\n    connectionId,\n    hospitableCustomerId,\n    hospitableConnectionId\n  }\n}];"
      },
      "id": "nfs-parse-manual-sync",
      "name": "Parse Manual Sync Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://asazddtvjvmckouxcmmo.supabase.co/rest/v1/nfs_hospitable_connections?id=eq.{{ $json.connectionId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFzYXpkZHR2anZtY2tvdXhjbW1vIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzQxODQ2NCwiZXhwIjoyMDg4OTk0NDY0fQ.B7nmKCji4LEDU5JozanHl9PjNXzYuIpav6B8KR3BNV0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFzYXpkZHR2anZtY2tvdXhjbW1vIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzQxODQ2NCwiZXhwIjoyMDg4OTk0NDY0fQ.B7nmKCji4LEDU5JozanHl9PjNXzYuIpav6B8KR3BNV0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sync_status",
              "value": "syncing"
            },
            {
              "name": "last_sync_error",
              "value": ""
            }
          ]
        }
      },
      "id": "nfs-manual-mark-syncing",
      "name": "Mark Syncing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        690,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://connect.hospitable.com/api/v1/customers/{{ $('Parse Manual Sync Payload').first().json.hospitableCustomerId }}/listings?per_page=100",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer 323|yMdjHB31rbzICtb8rEZ6P6lWNj6nlykDaNYnzszE402237aa"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Connect-Version",
              "value": "2024-01-01"
            }
          ]
        }
      },
      "id": "nfs-manual-fetch-listings",
      "name": "Fetch All Listings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        910,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Upsert listings to Supabase\nconst response = $input.first().json;\nconst listings = response.data || response.listings || [];\nconst operatorId = $('Parse Manual Sync Payload').first().json.operatorId;\nconst hospitableCustomerId = $('Parse Manual Sync Payload').first().json.hospitableCustomerId;\nconst hospitableConnectionId = $('Parse Manual Sync Payload').first().json.hospitableConnectionId;\n\nconst supabaseUrl = \"https://asazddtvjvmckouxcmmo.supabase.co\";\nconst serviceKey = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFzYXpkZHR2anZtY2tvdXhjbW1vIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzQxODQ2NCwiZXhwIjoyMDg4OTk0NDY0fQ.B7nmKCji4LEDU5JozanHl9PjNXzYuIpav6B8KR3BNV0\";\nconst errors = [];\nlet upserted = 0;\n\nfor (const listing of listings) {\n  const prop = {\n    operator_id: operatorId,\n    source: 'airbnb',\n    status: 'completed',\n    listing_status: 'listed',\n    hospitable_property_id: listing.id || listing.listing_id,\n    hospitable_connected: true,\n    hospitable_last_sync_at: new Date().toISOString(),\n    hospitable_sync_status: 'completed',\n    hospitable_connection_id: hospitableConnectionId,\n    hospitable_customer_id: hospitableCustomerId,\n    public_title: listing.public_name || listing.name || listing.title || '',\n    description: listing.description || listing.summary || '',\n    property_type: listing.property_type || 'apartment',\n    address: listing.address?.street || '',\n    city: listing.address?.city || '',\n    state: listing.address?.state || '',\n    country: listing.address?.country_code || 'GB',\n    postal_code: listing.address?.zipcode || '',\n    lat: listing.address?.latitude || null,\n    lng: listing.address?.longitude || null,\n    max_guests: listing.capacity?.max || 4,\n    images: listing.picture ? [{ url: listing.picture, caption: '', order: 0 }] : [],\n    check_in_time: listing.check_in || '15:00',\n    check_out_time: listing.check_out || '11:00',\n    base_rate_amount: 100,\n    base_rate_currency: 'GBP',\n    minimum_stay: 1,\n    cleaning_fee: { enabled: false }\n  };\n\n  const cleanFee = (listing.fees || []).find(f => f.name && f.name.includes('CLEANING'));\n  if (cleanFee && cleanFee.fee) {\n    prop.cleaning_fee = { enabled: true, amount: cleanFee.fee.amount / 100 };\n  }\n\n  const hpid = prop.hospitable_property_id;\n\n  try {\n    // Use this.helpers.httpRequest - the standard n8n Code node HTTP method\n    const existing = await this.helpers.httpRequest({\n      method: 'GET',\n      url: supabaseUrl + '/rest/v1/nfs_properties?hospitable_property_id=eq.' + hpid + '&select=id',\n      headers: {\n        'apikey': serviceKey,\n        'Authorization': 'Bearer ' + serviceKey,\n        'Accept': 'application/json'\n      }\n    });\n\n    if (Array.isArray(existing) && existing.length > 0) {\n      await this.helpers.httpRequest({\n        method: 'PATCH',\n        url: supabaseUrl + '/rest/v1/nfs_properties?id=eq.' + existing[0].id,\n        headers: {\n          'apikey': serviceKey,\n          'Authorization': 'Bearer ' + serviceKey,\n          'Content-Type': 'application/json',\n          'Prefer': 'return=minimal'\n        },\n        body: prop\n      });\n      upserted++;\n    } else {\n      await this.helpers.httpRequest({\n        method: 'POST',\n        url: supabaseUrl + '/rest/v1/nfs_properties',\n        headers: {\n          'apikey': serviceKey,\n          'Authorization': 'Bearer ' + serviceKey,\n          'Content-Type': 'application/json',\n          'Prefer': 'return=minimal'\n        },\n        body: prop\n      });\n      upserted++;\n    }\n  } catch (err) {\n    errors.push(hpid + ': ' + err.message);\n  }\n}\n\nreturn [{ json: { propertiesUpserted: upserted, listingsReceived: listings.length, errors } }];"
      },
      "id": "nfs-manual-upsert-listings",
      "name": "Upsert All Listings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1130,
        300
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://asazddtvjvmckouxcmmo.supabase.co/rest/v1/nfs_hospitable_connections?id=eq.{{ $('Parse Manual Sync Payload').first().json.connectionId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFzYXpkZHR2anZtY2tvdXhjbW1vIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzQxODQ2NCwiZXhwIjoyMDg4OTk0NDY0fQ.B7nmKCji4LEDU5JozanHl9PjNXzYuIpav6B8KR3BNV0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFzYXpkZHR2anZtY2tvdXhjbW1vIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzQxODQ2NCwiZXhwIjoyMDg4OTk0NDY0fQ.B7nmKCji4LEDU5JozanHl9PjNXzYuIpav6B8KR3BNV0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sync_status\": \"completed\",\n  \"total_properties\": {{ $json.propertiesUpserted }},\n  \"last_sync_at\": \"{{ new Date().toISOString() }}\",\n  \"health_status\": \"healthy\",\n  \"last_sync_error\": null\n}"
      },
      "id": "nfs-manual-update-complete",
      "name": "Mark Sync Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1350,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"properties_synced\": 0}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "nfs-manual-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1570,
        300
      ]
    }
  ],
  "connections": {
    "Manual Sync Webhook": {
      "main": [
        [
          {
            "node": "Parse Manual Sync Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Manual Sync Payload": {
      "main": [
        [
          {
            "node": "Mark Syncing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Syncing": {
      "main": [
        [
          {
            "node": "Fetch All Listings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Listings": {
      "main": [
        [
          {
            "node": "Upsert All Listings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert All Listings": {
      "main": [
        [
          {
            "node": "Mark Sync Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Sync Complete": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": [
    {
      "name": "nfstay"
    }
  ],
  "active": false
}