n8n-workflows/nfs-hospitable-listing-sync.json
{
  "name": "nfs-hospitable-listing-sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nfs-hospitable-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "nfs-hospitable-webhook-trigger",
      "name": "Hospitable Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse and validate Hospitable webhook payload\nconst body = $input.first().json.body || $input.first().json;\nconst headers = $input.first().json.headers || {};\nconst eventType = body.event || body.type || '';\n\n// Route: only handle listing events\nconst listingEvents = ['listing.created', 'listing.updated', 'listing.deleted', 'calendar.updated'];\nif (!listingEvents.includes(eventType)) {\n  return [{ json: { skip: true, reason: `Not a listing event: ${eventType}` } }];\n}\n\nconst listing = body.data || body.listing || body.payload || {};\nconst customerId = body.customer_id || listing.customer_id || '';\n\nreturn [{\n  json: {\n    skip: false,\n    eventType,\n    customerId,\n    listingId: listing.id || listing.listing_id || '',\n    listing,\n    isDelete: eventType === 'listing.deleted',\n    isCalendar: eventType === 'calendar.updated',\n    webhookId: body.id || body.webhook_id || crypto.randomUUID()\n  }\n}];"
      },
      "id": "nfs-parse-listing-webhook",
      "name": "Parse Listing Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.skip }}", "value2": true }]
        }
      },
      "id": "nfs-check-skip",
      "name": "Is Listing Event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [690, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ { \"received\": true, \"skipped\": true } }",
        "options": { "responseCode": 200 }
      },
      "id": "nfs-skip-response",
      "name": "Skip Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [910, 200]
    },
    {
      "parameters": {
        "jsCode": "// Check idempotency via nfs_webhook_events\nconst webhookId = $input.first().json.webhookId;\nconst supabaseUrl = $env.SUPABASE_URL;\nconst serviceKey = $env.SUPABASE_SERVICE_ROLE_KEY;\n\nconst checkRes = await fetch(\n  `${supabaseUrl}/rest/v1/nfs_webhook_events?external_event_id=eq.${webhookId}&select=id`,\n  {\n    headers: {\n      'apikey': serviceKey,\n      'Authorization': `Bearer ${serviceKey}`,\n      'Accept': 'application/json'\n    }\n  }\n);\nconst existing = await checkRes.json();\n\nif (existing && existing.length > 0) {\n  return [{ json: { ...($input.first().json), duplicate: true } }];\n}\n\n// Record the event\nawait fetch(\n  `${supabaseUrl}/rest/v1/nfs_webhook_events`,\n  {\n    method: 'POST',\n    headers: {\n      'apikey': serviceKey,\n      'Authorization': `Bearer ${serviceKey}`,\n      'Content-Type': 'application/json',\n      'Prefer': 'return=minimal'\n    },\n    body: JSON.stringify({\n      source: 'hospitable',\n      external_event_id: webhookId,\n      event_type: $input.first().json.eventType,\n      data: $input.first().json.listing,\n      processed: false\n    })\n  }\n);\n\nreturn [{ json: { ...($input.first().json), duplicate: false } }];"
      },
      "id": "nfs-idempotency-check",
      "name": "Idempotency Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 400]
    },
    {
      "parameters": {
        "jsCode": "// Upsert listing to nfs_properties\nconst data = $input.first().json;\nif (data.duplicate) {\n  return [{ json: { action: 'skipped_duplicate', listingId: data.listingId } }];\n}\n\nconst supabaseUrl = $env.SUPABASE_URL;\nconst serviceKey = $env.SUPABASE_SERVICE_ROLE_KEY;\nconst listing = data.listing;\n\nif (data.isDelete) {\n  // Archive the property\n  await fetch(\n    `${supabaseUrl}/rest/v1/nfs_properties?hospitable_property_id=eq.${data.listingId}`,\n    {\n      method: 'PATCH',\n      headers: {\n        'apikey': serviceKey,\n        'Authorization': `Bearer ${serviceKey}`,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=minimal'\n      },\n      body: JSON.stringify({\n        listing_status: 'archived',\n        hospitable_sync_status: 'completed',\n        hospitable_last_sync_at: new Date().toISOString()\n      })\n    }\n  );\n  return [{ json: { action: 'archived', listingId: data.listingId } }];\n}\n\nif (data.isCalendar) {\n  // Update blocked dates only\n  const blockedDates = listing.blocked_dates || listing.blocked_date_ranges || [];\n  await fetch(\n    `${supabaseUrl}/rest/v1/nfs_properties?hospitable_property_id=eq.${data.listingId}`,\n    {\n      method: 'PATCH',\n      headers: {\n        'apikey': serviceKey,\n        'Authorization': `Bearer ${serviceKey}`,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=minimal'\n      },\n      body: JSON.stringify({\n        blocked_date_ranges: blockedDates,\n        hospitable_last_sync_at: new Date().toISOString()\n      })\n    }\n  );\n  return [{ json: { action: 'calendar_updated', listingId: data.listingId } }];\n}\n\n// Full listing upsert\nconst prop = {\n  public_title: listing.name || listing.title || '',\n  description: listing.description || '',\n  address: listing.address?.full || listing.address?.street || '',\n  city: listing.address?.city || '',\n  country: listing.address?.country || '',\n  lat: listing.address?.latitude || null,\n  lng: listing.address?.longitude || null,\n  max_guests: listing.max_guests || listing.accommodates || 4,\n  images: (listing.photos || listing.images || []).map((p, i) => ({ url: p.url || p, caption: p.caption || '', order: i })),\n  amenities: listing.amenities || {},\n  base_rate_amount: listing.base_price || 100,\n  hospitable_last_sync_at: new Date().toISOString(),\n  hospitable_sync_status: 'completed'\n};\n\nawait fetch(\n  `${supabaseUrl}/rest/v1/nfs_properties?hospitable_property_id=eq.${data.listingId}`,\n  {\n    method: 'PATCH',\n    headers: {\n      'apikey': serviceKey,\n      'Authorization': `Bearer ${serviceKey}`,\n      'Content-Type': 'application/json',\n      'Prefer': 'return=minimal'\n    },\n    body: JSON.stringify(prop)\n  }\n);\n\n// Mark webhook event as processed\nawait fetch(\n  `${supabaseUrl}/rest/v1/nfs_webhook_events?external_event_id=eq.${data.webhookId}`,\n  {\n    method: 'PATCH',\n    headers: {\n      'apikey': serviceKey,\n      'Authorization': `Bearer ${serviceKey}`,\n      'Content-Type': 'application/json',\n      'Prefer': 'return=minimal'\n    },\n    body: JSON.stringify({ processed: true, success: true, processed_at: new Date().toISOString() })\n  }\n);\n\nreturn [{ json: { action: 'upserted', listingId: data.listingId } }];"
      },
      "id": "nfs-upsert-listing",
      "name": "Upsert Listing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ { \"received\": true, \"action\": \"{{ $json.action }}\" } }",
        "options": { "responseCode": 200 }
      },
      "id": "nfs-listing-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1350, 400]
    }
  ],
  "connections": {
    "Hospitable Webhook": { "main": [[{ "node": "Parse Listing Webhook", "type": "main", "index": 0 }]] },
    "Parse Listing Webhook": { "main": [[{ "node": "Is Listing Event?", "type": "main", "index": 0 }]] },
    "Is Listing Event?": {
      "main": [
        [{ "node": "Skip Response", "type": "main", "index": 0 }],
        [{ "node": "Idempotency Check", "type": "main", "index": 0 }]
      ]
    },
    "Idempotency Check": { "main": [[{ "node": "Upsert Listing", "type": "main", "index": 0 }]] },
    "Upsert Listing": { "main": [[{ "node": "Webhook Response", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "nfstay" }],
  "active": false
}
