docs/n8n/workflow-test-echo.json
{
  "name": "NFsTay — Test Echo (all webhooks)",
  "meta": { "description": "TEST ONLY. Catches all 4 inbox webhooks, logs payload, returns 200. Import this first to verify the frontend pipeline works before activating the real GHL workflows." },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inbox-new-inquiry",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "New Inquiry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 200],
      "webhookId": "test-new-inquiry"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inbox-new-message",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "New Message",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 400],
      "webhookId": "test-new-message"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inbox-landlord-replied",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Landlord Replied",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 600],
      "webhookId": "test-landlord-replied"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inbox-tenant-message",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Tenant Message",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 800],
      "webhookId": "test-tenant-message"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconsole.log('[NFsTay Test] Webhook received:', JSON.stringify(input, null, 2));\nreturn [{ json: { status: 'ok', received: true, webhook: 'inbox-new-inquiry', payload: input.body || input } }];"
      },
      "name": "Log Inquiry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 200]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconsole.log('[NFsTay Test] Webhook received:', JSON.stringify(input, null, 2));\nreturn [{ json: { status: 'ok', received: true, webhook: 'inbox-new-message', payload: input.body || input } }];"
      },
      "name": "Log Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 400]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconsole.log('[NFsTay Test] Webhook received:', JSON.stringify(input, null, 2));\nreturn [{ json: { status: 'ok', received: true, webhook: 'inbox-landlord-replied', payload: input.body || input } }];"
      },
      "name": "Log Landlord Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 600]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconsole.log('[NFsTay Test] Webhook received:', JSON.stringify(input, null, 2));\nreturn [{ json: { status: 'ok', received: true, webhook: 'inbox-tenant-message', payload: input.body || input } }];"
      },
      "name": "Log Tenant Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 800]
    }
  ],
  "connections": {
    "New Inquiry": { "main": [[{ "node": "Log Inquiry", "type": "main", "index": 0 }]] },
    "New Message": { "main": [[{ "node": "Log Message", "type": "main", "index": 0 }]] },
    "Landlord Replied": { "main": [[{ "node": "Log Landlord Reply", "type": "main", "index": 0 }]] },
    "Tenant Message": { "main": [[{ "node": "Log Tenant Message", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
